/*
Задание:
1. Первая буква, каждого абзаца статьи должна иметь больший шрифт и быть красной.
*/
p::first-letter {
  font-size: 2em;
  color: red;
}

/*

2. Заголовок "Огород" должен быть оранжевым
*/
h2{
  color: orange;
}

/*
3. Слова "Фрукты" и "Овощи" жирным шрифтом, черного цвета.
*/
ul{
  font-weight: bold;
  color: black;
}

ol{
  font-weight: normal;
}

/*
4. В разделе "Огород" список фруктов должен быть серым, а овощей зеленым.
*/
.fruits-list>li {
  color: gray;  
}

.vegetables-list>li {
  color: green;
}

/*
5. В разделе "Склад" список фруктов должен быть оранжевым, а овощей коричневым.
*/
.fruits-list__sklad>li {
  color: orange;  
}

 .vegetables-list__sklad>li{
  color: brown;
}

/*
6. Заголовки таблицы должны быть жирными и черными. Текст должен центрироваться.
6.1. Имена студентов зелеными
6.2. Четные строки должны получить голубой фон.
6.3. Отметки посещения должны центрироваться.
6.4. Наведение мышки на отметку должно менять фон ячейки на красный, а цвет текста делать белым.
*/

.students-table>thead>tr>td {
  font-weight: bold;
  color: black;
  text-align: center;
}

tbody>tr>td:first-child {
  color: green;
}

tbody>tr>td:nth-child(3) {
  background: lightblue;
}

tbody>tr>td:nth-child(n+2){
  text-align: center;
}

tbody>tr>td:hover:nth-child(n+2){
  background: red;
  color: white;
  transition:1.5s ease ;
}